<div class="login-main-div">
  <div class="image-div">
    <div>
      <h1>Urbancheck Logo</h1>
    </div>
  </div>
  <div class="login-form-div">

    <div id="form-container">

      <div class="user-field">
        <label for="">User</label>
        <input type="text" placeholder="Type your username here!">
      </div>

      <div class="user-field">
        <span><label for="">Password</label></span>
        <span><input [type]="showPassword ? 'type' : 'password'" placeholder="Type your password here!" ></span>
      </div>

      <div class="form-buttons-div">
        <button>Login</button>
        <button>Register</button>
      </div>

      <div class="options-div">

        <div>
          <input type="checkbox" name="" id="rememberCbox">
          <p>Rememeber me</p>
        </div>

        <div>
          <a href="">Forgot password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
