$font_family: Verdana, Geneva, Tahoma, sans-serif;
$porcentaje_img_div: 20%;
$porcentaje_form_div: 100% - $porcentaje_img_div;

$grey_filter_color: rgba(59, 59, 59, 0.562);
$grey_solid_color: rgb(43, 42, 42);

.login-main-div {
    display: flex;
    flex-direction: column;
    //background-color: red;
    height: 100vh;
    background-image: url("../../../assets/images/map.webp");
}

.image-div {
    // flex: 3;
    
    height: $porcentaje_img_div;

    // background-image: url("../../../assets/images/map.webp");
    background-size: auto;

    div {
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $grey_filter_color;

    }
}

.login-form-div {
    height: 100%;
    background-color: $grey_filter_color;

    display: flex;
    align-items: center;
    justify-content: center;
}

#form-container {
    display: flex;
    flex-direction: column;
    color: white;

    justify-content: space-around;
    align-items: center;

    width: 100%;

    div {
        margin: 10px;
    }

    label {
        font-family: $font_family;

        font-size: 1.3rem;
        display: block;
        margin-bottom: 2px;

        -webkit-user-select: none;
        user-select: none;
    }

    input[type="text"],
    input[type="password"] {
        padding: 10px;
        border-radius: 10px;
        width: 70vw;
    }
}

// This div contains the "Login" and "Register" buttons
.form-buttons-div {
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    // background-color: red;
    width: 100%;

    button {
        font-size: 1.3rem;
        font-family: $font_family;
        width: 6em;
        padding: 15px 0 15px 0;
        -webkit-user-select: none;
        user-select: none;
    }
}

.options-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    div {
        display: flex;
    }

    input[type="checkbox"] {
        padding: 10px;
        margin: 2px 10px 2px 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    p {
        display: inline-block;
        font-size: 1rem;
    }

    a {
        color: red;
        font-family: $font_family;
    }
}

@media screen and (min-width: 800px) {
    .login-main-div {
        flex-direction: row;
    }

    $porcentaje_img_div: 62%;
    $porcentaje_form_div: 100% - $porcentaje_img_div;

    .login-form-div {
        width: $porcentaje_form_div;
        background-color: $grey_solid_color;
        height: 100vh;
        border-left: 2px solid black;

        #form-container {
            .user-field {
                width: 70%;
                margin-top: 2.5rem;
            }

            label {
                // font-size: 16pt;
                font-size: 1rem;
                margin-bottom: 1rem;
            }
            input[type="text"],
            input[type="password"] {
                font-size: 1rem;
                padding: 10px;
                border-radius: 10px;
                width: 100%;
            }
        }
    }

    .image-div {
        width: $porcentaje_img_div;
        height: 100vh;

        background-size: cover;

        border-right: 5px solid black;

        div {
            height: 100%;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            background: rgba(75, 75, 75, 0.5);
        }
    }

    // This div contains the "Login" and "Register" buttons
    .form-buttons-div {
        padding-top: 5vh;

        width: 100%;

        button {
            padding: 10px 0 10px 0;
            font-size: 1rem;
            width: 10rem;
        }
    }
}
